<div class="row">
    <div class="col m12" id="page_header">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/">BLOG</a></li>
                    <li><a href="/raspberry/ip">树莓派</a></li>
                </ul>
                <form>
                <div class="input-field right">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
                </form>
            </div>
        </nav>
    </div>
</div>